{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<title> Login CPE Training </title>

<div class="container"><h4>******************************************************************************************************<br>
    FOR ENGLISH 3140, PLEASE SIGN IN WITH THE FOLLOWING CREDENTIALS: <br>USERNAME: test1 <br> PASSWORD: Technical2020<br>
     THIS ACCOUNT IS REQUIRED TO VIEW ALL THE WEEKS OF THE PROGRAM. WITHOUT SIGNING INTO THE ADMIN ACCOUNT, YOU WILL ONLY HAVE ACCESS
     TO THE TRAINEE VIEW. THIS LIMITS THE CONTENT YOU CAN SEE. PLEASE FEEL FREE TO CREATE AN ACCOUNT FOR STUDENT VIEW. INFORMATION INPUTTED DOES NOT HAVE TO BE REAL. 
     FIELDS ARE CASE SENSITIVE.<br>******************************************************************************************************</h4></div>
  <form method="post" class="form-group bucks-register-container">
      <h1>Login Here</h1>
      {% csrf_token %}
      {{ form|crispy }}
      <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
      <button class="btn btn-lg btn-secondary" type="submit" >Login</button>
  </form>

{% endblock %}