{% extends 'base.html' %}
{% block content %}
{% load static %}
  <title>Technical CPE Training</title>
  <div style="position:relative;">
    <div class="longfrontimage">
      <a href="../../info/about"><span>Welcome CPE's</span></a>
      <p>Welcome! technicalcomptraining.xyz presents a technical writing training program geared towards computer engineers.
         Effective communcation within the workplace is extremely important. After the course ends, trainees are expected to develop
         valuable communication skills to make them better employees.</p>
      <div class="longfrontimage1"></div>
    </div>
    <div class="longfrontimage">
      <a href="../../whoweare"><span>WHO WE ARE</span></a>
      <p>David Krasowska and Nishant Patel are two computer engineers looking to improve skills of other CPEs. We have created a technical training program that aims to strengthen the communication skills of the trainees in order to be successful in the workplace. </p>
      <div class="longfrontimage2"></div>
      </div>
    <div class="longfrontimage">
      <a href="../../racing"><span>Get Started</span></a>
      <p>User reqirements: Miscrosoft Visual Studio with Live Share, Microsoft Office Suite and PDF Reader.
      Get started by creating your account <a href="{% url 'account' %}">here.</a> &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;<smaller>Images were found <a href="http://www.clemson.edu/degrees/computer-engineering"> here.</a></smaller></p>
      <div class="longfrontimage3"></div>
    </div>
  </div>
{% endblock %}
