/*Navigation Bar CSS*/
.topnav {
  overflow: hidden;
  background-color: #333;
  z-index: 100;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #F66733;
  color: white;
}

@media screen and (max-width: 875px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 875px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Front Page Parallax Scrolling CSS*/
body, html {
  height: 100%;
  margin: 0, auto;
  color: #565656;
}

.longfrontimage{
  width: 100%;
}
.longfrontimage span{
  font-family: inherit;
  position: absolute;
  margin-left: 50%;
  padding-top: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40pt;
  font-weight: bold;
  text-align: left;
  color: #fcfcfc;
  text-shadow: .5px .5px black;
}

.longfrontimage p{
  font-family: inherit;
  position: absolute;
  margin-left: 50%;
  margin-right: 5%;
  padding-top: 200px;
  font-size: 18pt;
  font-weight: bolder;
  text-align: left;
  color: #fcfcfc;
  text-shadow: .5px .5px black;
}
.longfrontimage a{
  color: #fcfcfc;
  text-decoration: underline;
}
.longfrontimage1 {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.05), rgba(246, 103, 51, 0.76)), url('chip.jpg');
  background-size: cover;
  text-align: center;
}

.longfrontimage2 {
  height: 800px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.05), rgba(117, 19, 93, 0.76)), url('us.jpg');
  background-size: cover;
  text-align: center;
}

.longfrontimage3 {
  height: 300px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.05), rgba(246, 103, 51, 0.76)), url('bgimg-1.jpg');
  background-size: cover;
  text-align: center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
    .longfrontimage{
      width: 100%;
    }

    .longfrontimage span{
      font-size: 28pt;
    }

    .longfrontimage p{
      font-size: 16pt;
    }
}

.bucks-register-container {
  margin: auto;
  width: 25%;
  min-width: 250px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.h3{
  text-align: center;
}

.dropdown-item{
  font-size: 20px !important;
}
.btn-group{
  padding-top: 0px;
  margin: 0px;
}
